<hr> 
<div class="row">
  <div class="col-xs-12">
    <table class="table table-responsive table-condensed table-hover">
      <thead>
        <tr class="head-margin">
          <th class="leftHead">Name</th>
          <th class="centerHead">Description</th>
          <th class="rightHead"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of filteredIngredients"
            [routerLink]="[ingredient.id]" routerLinkActive="info">
          <td>{{ingredient.name}}</td>
          <td>{{ingredient.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
